<div id="projects_wrapper" ng-controller="ProjectController">
  <div class="container-fluid">
    <div ng-repeat="project in projects">
      <div class="col-sm-6 col-md-3">
        <div class="project_wrapper">
          <div class="project_title">
            <h3>{{ project.name }}</h3>
          </div>
          <div class="project_sub_details">
            Created on : <span class="project_date_created">{{ project.createdAt }}</span>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
