<div id="stories_wrapper" ng-controller="StoriesController">
  <div class="container-fluid">
    <div class="col-sm-6 col-md-3">
      <div>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder="Name" ng-model="story.name">
            </div>
            <label for="inputName" class="col-sm-2 control-label">valeur métier</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder="valeur metier" ng-model="story.valeur_metier">
            </div>
            <label for="inputName" class="col-sm-2 control-label">effort technique</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder="effort technique" ng-model="story.effort_technique">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="error-create">{{errorCreate}}</div>
              <button class="btn btn-primary" ng-click="create(story)">Create</button>
              <button class="btn btn-default" ng-click="createFormHidden = true">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-repeat="storie in stories">
      <div class="col-sm-6 col-md-3">
        <a href="#/project/{{ project }}/stories/{{ storie.id }}/stories">
          <div class="storie_wrapper">
          	<ul class="list-group">
	            <li class="list-group-item storie_id">
	              storie N° : {{ storie.id }}
	            </li>
	            <li class="list-group-item storie_name">
	              storie name : {{ storie.id }}
	            </li>
	            <li class="list-group-item storie_created_at">
	              Created at : {{ storie.id }}
	            </li>
	            <li class="list-group-item storie_date_created">
	              Created on : {{ storie.createdAt | date:"MM/dd/yyyy" }}
	            </li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
