<div id="stories_wrapper" ng-controller="StoriesController">
  <div class="container-fluid">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div>
          <form class="form-horizontal story-create">
            <div class="form-group">
              <label for="inputName" class="col-md-4 control-label">Name</label>
              <div class="col-md-8">
                <input class="form-control" placeholder="Name" ng-model="story.name">
              </div>
              <label for="inputName" class="col-md-4 control-label">valeur métier</label>
              <div class="col-md-8">
                <input class="form-control" placeholder="valeur metier" ng-model="story.valeur_metier">
              </div>
              <label for="inputName" class="col-md-4 control-label">effort technique</label>
              <div class="col-md-8">
                <input class="form-control" placeholder="effort technique" ng-model="story.effort_technique">
              </div>
            </div>
            <div class="form-group">
                <div class="error-create">{{errorCreate}}</div>
                <button class="btn btn-primary col-md-4 col-md-offset-1" ng-click="create(story)">Create</button>
                <button class="btn btn-default col-md-4 col-md-offset-2" ng-click="createFormHidden = true">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="col-md-4">
      <h3 class="center">BACKLOG</h3>
      <div ng-repeat="storie in stories | orderBy:'id'">
        <div class="col-md-8 col-md-offset-2" ng-if="storie.zone=='backlog'">
          <a href="#/project/{{ project }}/sprints/{{ sprints }}/stories/{{ storie.id }}/tasks">
            <div class="storie_wrapper">
            	<ul class="list-group">
  	            <li class="list-group-item storie_id">
  	              storie N° : {{ storie.id }}
  	            </li>
  	            <li class="list-group-item storie_name">
  	              storie name : {{ storie.name }}
  	            </li>
  	            <li class="list-group-item storie_created_at">
  	              Effort technique : {{ storie.effort_technique }}
  	            </li>
  	            <li class="list-group-item storie_name">
  	              Valeur metier : {{ storie.valeur_metier }}
  	            </li>
  	            <li class="list-group-item storie_name">
  	              zone : {{ storie.zone }}
  	            </li>
  	            <li class="list-group-item storie_date_created">
  	              Created on : {{ storie.createdAt | date:"MM/dd/yyyy" }}
  	            </li>
              </ul>
            </div>
          </a>
          <button type="button" class="buttons btn btn-large" ng-click="toPlanning(storie)">To Planning</button>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3 class="center">SPRINT PLANNING</h3>
        <div ng-repeat="storie in stories | orderBy:'id'">
        <div ng-if="storie.zone=='sprint_planning'" class="col-md-8 col-md-offset-2">
          <a href="#/project/{{ project }}/sprints/{{ sprints }}/stories/{{ storie.id }}/tasks">
            <div class="storie_wrapper">
              <ul class="list-group">
                <li class="list-group-item storie_id">
                  storie N° : {{ storie.id }}
                </li>
                <li class="list-group-item storie_name">
                  storie name : {{ storie.name }}
                </li>
                <li class="list-group-item storie_created_at">
                  Effort technique : {{ storie.effort_technique }}
                </li>
                <li class="list-group-item storie_name">
                  Valeur metier : {{ storie.valeur_metier }}
                </li>
                <li class="list-group-item storie_name">
                  zone : {{ storie.zone }}
                </li>
                <li class="list-group-item storie_date_created">
                  Created on : {{ storie.createdAt | date:"MM/dd/yyyy" }}
                </li>
              </ul>
            </div>
          </a>
          <button type="button" class="little-buttons btn btn-large" ng-click="toBacklog(storie)">To Backlog</button>
          <button type="button" class="little-buttons btn btn-large" ng-click="toDone(storie)">To Done</button>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3 class="center">PRODUCT DONE</h3>
        <div ng-repeat="storie in stories | orderBy:'id'">
        <div ng-if="storie.zone=='product_done'" class="col-md-8 col-md-offset-2">
          <a href="#/project/{{ project }}/sprints/{{ sprints }}/stories/{{ storie.id }}/tasks">
            <div class="storie_wrapper">
              <ul class="list-group">
                <li class="list-group-item storie_id">
                  storie N° : {{ storie.id }}
                </li>
                <li class="list-group-item storie_name">
                  storie name : {{ storie.name }}
                </li>
                <li class="list-group-item storie_created_at">
                  Effort technique : {{ storie.effort_technique }}
                </li>
                <li class="list-group-item storie_name">
                  Valeur metier : {{ storie.valeur_metier }}
                </li>
                <li class="list-group-item storie_name">
                  zone : {{ storie.zone }}
                </li>
                <li class="list-group-item storie_date_created">
                  Created on : {{ storie.createdAt | date:"MM/dd/yyyy" }}
                </li>
              </ul>
            </div>
          </a>
          <button type="button" class="buttons btn btn-large" ng-click="toPlanning(storie)">To Planning</button>
        </div>
      </div>
    </div>
  </div>
</div>
