<div id="stories_wrapper" ng-controller="TaskController">
  <div class="container-fluid">
    <div class="col-sm-6 col-md-3">
      <div>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder="Name" ng-model="task.name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="error-create">{{errorCreate}}</div>
              <button class="btn btn-primary" ng-click="create(task)">Create</button>
              <button class="btn btn-default" ng-click="createFormHidden = true">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-repeat="task in tasks">
      <div class="col-sm-6 col-md-3">
<!--         <a href="#/project/{{ project }}/stories/{{ storie.id }}/stories">
 -->          <div class="storie_wrapper">
          	<ul class="list-group">
	            <li class="list-group-item storie_name">
	              task name : {{ task.name }}
	            </li>
	            <li class="list-group-item storie_date_created">
	              Created at : {{ task.createdAt | date:"MM/dd/yyyy" }}
	            </li>
            </ul>
          </div>
<!--         </a>
 -->      </div>
    </div>
  </div>
</div>
